{#
/**
 * @file
 * Theme override of an image.
 *
 * Available variables:
 * - attributes: HTML attributes for the img tag.
 * - style_name: (optional) The name of the image style applied.
 *
 * @see template_preprocess_image()
 */
#}

{# Strips the width/height. #}
{%
  set classes = [
  style_name ? 'image-style-' ~ style_name|clean_class,
]
%}

{#
/**
 * This still needs to be reworked.
 * The IIIF Image Server location variable needs to be fetched.
 * Admin: admin/config/islandora/iiif
 */
#}

{#
/**
 * Variables need to be fetched from image style and passed to the iiif URL.
 * Admin: admin/config/media/image-styles
 * Fetch image-styles:
 * - Style Name
 * - Width
 * - Height
 */
#}
<div class="image__wrapper">
  <p class="ugly__hack" style="display: none">-</p>
  <img {{ attributes|without('width','height', 'src').addClass(classes) }} src="{{ iiif_url }}" />
{# Without IIIF #}
{# <img{{ attributes|without('width','height').addClass(classes) }} /> #}
</div>
