/**
 * @file
 * Visual styles for Bartik's ui-widget component.
 */

.ui-widget {
  font-family: $font-family-sans-serif;
  font-size: $font-size-base;

  .ui-widget,
  input,
  select,
  textarea,
  button {
    font-family: $font-family-sans-serif;
    font-size: $font-size-base;
  }
}
