/**
 * @file
 * Styling for Views.
 */
.view-solr-search-content {
  .view-display-id-block_1 {
    .view-filters {
      display: none;
    }
  }
}
.highlighted {
    .facets-views-plugin {
      display: none;
    }
  }

.search-results__facets {
  .js-form-item-search-api-fulltext, .form-actions {
    display: none;
  }
}
